In [8]:
import pandas as pd

In [9]:
books_resolved_duplicate_rows_path = r"C:\Users\ethan_haque\Downloads\FINAL_duplicate_rows.csv"
books_full_dataset_path = r"C:\Users\ethan_haque\Desktop\repos\bitmoji-project\books_report\annotations.csv"

In [10]:
books_duplicate_rows_df = pd.read_csv(books_resolved_duplicate_rows_path)
print(books_duplicate_rows_df.shape)
print(books_duplicate_rows_df["filename"].nunique())
books_duplicate_rows_df.head()

(223, 22)
108

,image_id,filename,title,google,ra,batch,errors,KEEP,identifiable_yes,identifiable_no,...,identifiable_different_language,diversity_none,diversity_bipoc,diversity_noncisman,diversity_lgbq,diversity_non_christian,diversity_disability,diversity_other,diversity_ambiguous,TagID
0,user1029_4729_book_1_4.jpg4363,user1029_4729_book_1_4.jpg,bugs a to z,https://www.google.com/books/edition/Bugs_A_to...,Sabrina,Batch 2b training set,Exactly one identifiable selection required.,0,False,False,...,False,True,False,False,False,False,False,False,False,user1029_4729_book_1_4
1,user1029_4729_book_1_4.jpg4363,user1029_4729_book_1_4.jpg,Bugs A to Z,https://www.google.com/books/edition/Bugs_A_to...,Nicole Stern,Batch 2b training set,NaN,1,True,False,...,False,True,False,False,False,False,False,False,False,user1029_4729_book_1_4
2,user1038_1666_book_5_13.jpg7878,user1038_1666_book_5_13.jpg,NaN,NaN,Michelle,Batch 4a training set,Exactly one identifiable selection required.,0,False,False,...,False,True,False,False,False,False,False,False,False,user1038_1666_book_5_13
3,user1038_1666_book_5_13.jpg0,user1038_1666_book_5_13.jpg,The Legend of Spookley the Square Pumpkin,https://www.google.com/books/edition/The_Legen...,Emily,Batch 4a training set,NaN,1,True,False,...,False,True,False,False,False,False,False,False,False,user1038_1666_book_5_13
4,user1083_419_book_14_14.jpg6459,user1083_419_book_14_14.jpg,tangled a story about shapes,https://www.google.com/books/edition/Tangled/t...,Michelle,Batch 3a training set,NaN,0,False,False,...,False,False,False,True,False,False,False,False,False,user1083_419_book_14_14

In [11]:
books_full_rows_df = pd.read_csv(books_full_dataset_path)
print(books_full_rows_df.shape)
print(books_full_rows_df["filename"].nunique())
books_full_rows_df.head()

(3688, 21)
3573

,image_id,filename,title,google,ra,batch,errors,identifiable_yes,identifiable_no,identifiable_with_info_sidebar,...,identifiable_different_language,diversity_none,diversity_bipoc,diversity_noncisman,diversity_lgbq,diversity_non_christian,diversity_disability,diversity_other,diversity_ambiguous,TagID
0,user1980_3831_book_4_4.jpg5196,user1980_3831_book_4_4.jpg,The Henna Wars,https://www.google.com/books/edition/The_Henna...,Emily,Batch 1 training set,NaN,False,False,False,...,False,False,True,True,True,False,False,False,False,user1980_3831_book_4_4
1,user2180_23_book_7_8.jpg3815,user2180_23_book_7_8.jpg,ur favorite day of the year,https://www.google.com/books/edition/Our_Favor...,Emily,Batch 1 training set,NaN,True,False,False,...,False,False,True,True,False,False,False,False,False,user2180_23_book_7_8
2,user2180_23_book_18_19.jpg3094,user2180_23_book_18_19.jpg,"Latke, the Lucky Dog",https://www.google.com/books/edition/Latke_the...,Emily,Batch 1 training set,NaN,True,False,False,...,False,False,False,False,False,False,False,False,True,user2180_23_book_18_19
3,user2281_2010_book_5_15.jpg5167,user2281_2010_book_5_15.jpg,baditude: what to do when life stinks!,https://www.google.com/books/edition/Baditude_...,Emily,Batch 1 training set,NaN,False,False,False,...,False,False,True,False,False,False,False,False,False,user2281_2010_book_5_15
4,user9_4519_book_3_3.jpg6914,user9_4519_book_3_3.jpg,Insignificant Events in the Life of a Cactus,https://www.google.com/books/edition/Insignifi...,Emily,Batch 10,NaN,True,False,False,...,False,True,False,False,False,False,False,False,False,user9_4519_book_3_3

In [12]:
rows_to_remove = books_duplicate_rows_df[books_duplicate_rows_df['KEEP'] == False]

keys = ["image_id", "filename", "title", "google", "ra", "batch"]
cleaned_books_df = pd.merge(books_full_rows_df, rows_to_remove[keys], 
                            on=keys, 
                            how='outer', 
                            indicator=True).query('_merge == "left_only"').drop(columns='_merge')

remaining_unique_filenames = cleaned_books_df["filename"].nunique()
remaining_unique_filenames, cleaned_books_df.shape[0]

(3573, 3573)

In [13]:
# convert all bool columns to int
bool_cols = [col for col in cleaned_books_df if cleaned_books_df[col].dtype == "bool"]
cleaned_books_df[bool_cols] = cleaned_books_df[bool_cols].astype(int)

In [14]:
cleaned_books_df.to_csv(r"C:\Users\ethan_haque\Desktop\repos\bitmoji-project\books_duplicate_resolution\annotations_cleaned.csv", index=False)